:root {
  --text-color: #ffffff;
  --bg-color: #121212;

}

body[data-theme='light'] {
  --text-color: rgb(68 68 68/var(--tw-text-opacity));
  --bg-color: #ffffff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  /*margin-top: 1rem;*/
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}


  @media (min-width: 480px) {
    body {
      /**margin-top: 2rem;
      **/
    }
  }
  
  