:root {
  --text-color: #FFFF;
  --bg-color: #121212;
}

body[data-theme='dark'] {
  --text-color: #ffffff;
  --bg-color: #121212;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1.16rem;
  text-rendering: optimizeLegibility;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}

@media (min-width: 480px) {
  body {
  }
}
